# Dependencias
node_modules/
.npm/

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log

# Sistema
.DS_Store
Thumbs.db
desktop.ini

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
